# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

package-lock.json
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pytest_cache/**


# Serverless directories
*.python-version
